body {
    background-color: #2AAFAA;
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 15px;
    padding-bottom: 80px;
}

#backgroundSwitcher {
    background-color: #2AAFAA;
}

.normalBackground {
    background-color: #5DA8F0;
    border: 10px solid #1964AB;
    border-radius: 20px;
}

h1 {
    font-family: roboto;
    color: #000000;
    margin-left: 40px
}

h2 {
    font-family: georgia;
    color: #000000;
    margin-left: 40px;
}

h3 {
    font-family: roboto;
}

h4 {
    font-family: arial;
    color: #000000;
    margin-left: 50px;
}

.mainText {
    border: 2px solid;
    border-radius: 10px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #86BDF0;
}

.careerButtons {
    border: none;
    text-align:center
}

.side-by-side {
    display: inline-block;
    border: 1px solid;
    border-radius: 5px;
    font-family: georgia;
    color: #000000;
    verticle-align: middle;
    margin-left: 5px;
}

.career {
    margin-left: 80px;
    margin-right: 80px;
    color: #000000;
    font-family: calibri;
    text-align: left;
}

.thirtyYears {
    border: 3px solid #000000;
    border-radius: 10px;
    background-color: #86BDF0;
}

#thirtyYearsText {
     color: #000000;
    font-family: calibri;
    margin-left: 100px;
    margin-right: 100px;
}

#computer-programmer-picture {
    verticle-align: middle;
}

#engineer-picture {
    verticle-align: middle;
}

#studioApartment {
    verticle-align: middle;
}
